<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xcm91.relation">

    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--拍照 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".common.MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="${APP_NAME}"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="CHANNEL_NAME"
            android:value="${CHANNEL_VALUE}"/>
        <meta-data
            android:name="CHANNEL_KEY"
            android:value="${CHANNEL_KEY}"/>

        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Main2Activity"
            android:label="@string/title_activity_main2">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".activity.OneActivity">
        </activity>
    </application>

</manifest>